@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i');

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.image-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  margin: 0 0 0 30px;
}

.intro-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  width: 600px;
  font-weight:300;
  margin: 0 0 0 30px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.social {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 30px;
}

.social a {
  text-decoration: underline;
  margin-right: 25px;
  color: #000;
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .main-wrapper {
    flex-direction: column;
  }

  .intro-wrapper {
    align-items: center;
  }

  .name {
    margin-top: 30px;
  }
}

/* MOBILE */

@media screen and (min-width: 320px) and (max-width: 767px) {

  .main-wrapper {
    flex-direction: column;
  }

  .image-wrapper {
    margin-top: 100px;
    margin-bottom: 400px;
  }

  .intro-text {
    width: auto;
    margin: 0 25px;
  }

  .name {
    font-size: 43px;
  }

  .social {
    margin: 0;
  }

  .social a {
    margin-right: 20px;
  }
}